body{
  font-family: Amazon Ember;
  background-color: #f3f3f3;

}
.row{
  justify-content: space-around !important;
  align-items: center !important;
  padding-right: 0 !important;
  padding-left: 0 !important;

}
.parent{
  max-width: 40.2cm !important;
}
.mandatory{
  color: red;
}
.err-api{
  background-color: red;
  color: white;
  text-align: center !important;
  max-width: fit-content;
  font-size: 18px;

  padding: 10px 20px;
  border-radius: 5px;
}
.err-api:empty{
  display: none;
}
h1{
  background-color:#b5a681;;
  margin-bottom: 30px;
  font-weight: bold;
  height: 70px;
  color: white;
  text-align: center;
  padding-top: 10px;
}
h5{
  font-weight: bold;
  
}
form{
  font-size: 18px;
  
  padding-top: 30px;
}

.form-control{
  box-shadow: none !important;
   
 } 
 .form-select{
  box-shadow: none !important;
  
 }
.btn-primary{
  background-color: #cda6c0;
  float: right;
}

.add{
  margin-top: 15px;
}
.span{
  display: block;
  height: 20px !important;
  color: red;
}
.table{
  overflow-y: auto !important;
}
.spaner{
  color: green !important;
}
.bill{
  justify-content: end !important;
  text-align: end !important;
}
.cart{
 text-align: end !important;
}