.parent{
  font-family: Roboto;
  align-items: center !important;
  justify-content: center !important;
  margin-top: 30px !important;
  max-width: 40cm !important;
}
.general{
  background-color: #F9F9F9;
  padding: 25px;
  border-radius: 15px;
}
.form-control{
  background-color: #EEEEEE !important;
  box-shadow: none !important;
  color: #36413E !important;
}
.input-group-text{
  background-color: #EEEEEE !important;
}
.span{
  display: inline-block !important;
  color: red;
  height: 20px !important;
}
.pricing{
  justify-content: space-between !important;
}
.btn-success{
  background-color: #9FEEA7 !important;
  color: black !important;
  border-radius: 35px !important;
  padding: 10px 20px !important;
}